apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: scone-controller-manager-metrics-service-monitor
  namespace: monitoring
spec:
  namespaceSelector:
    any: true
  selector:
    matchLabels:
      control-plane: controller-manager
  endpoints:
    - port: http
      path: /metrics
      interval: 10s
      scheme: http
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: scone-runtime-metrics-service-monitor
  namespace: monitoring
  labels:
    release: kube-prometheus
spec:
  selector:
    matchLabels:
      collect-runtime-metrics.monitoring.scone.cloud: "true"
  namespaceSelector:
    any: true
  endpoints:
    - path: /
      interval: 10s
  fallbackScrapeProtocol: PrometheusText0.0.4
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus-pod-reader
rules:
- apiGroups: [""]
  resources: ["pods", "services", "endpoints"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus-pod-reader-binding
subjects:
- kind: ServiceAccount
  name: prometheus-k8s
  namespace: monitoring
roleRef:
  kind: ClusterRole
  name: prometheus-pod-reader
  apiGroup: rbac.authorization.k8s.io
