go-args-env-file
bin/go-args-env-file-linux-386
bin/go-args-env-file-linux-amd64
bin/java-args-env-file
bin/go-args-env-file-linux-386
Dockerfile
bin-linux-386
bin-linux-amd64
done
export
go
go-args-env-file.exe

